includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/
        - config/

    # Level 5 is a good starting point for Larastan
    level: 5

    ignoreErrors:
        -
            message: '#Called .env. outside of the config directory#'
            path: config/drivebackup.php
        # Ignore specific tricky errors if necessary
